<%# Aba "Familiares": link público + cadastro inline. Locals: event, family_members, family_member. %>

<%# Link público para os familiares se cadastrarem %>
<div class="mb-4">
  <%= render "events/family_member_list" %>
</div>

<%= render "family_members/list",
      family_members: family_members, family_member: family_member,
      create_url: event_family_members_path(event),
      member_url: ->(fm) { event_family_member_path(event, fm) } %>
